{"filter":false,"title":".htaccess","tooltip":"/.htaccess","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":18,"column":11},"end":{"row":26,"column":11},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1425342305436,"hash":"3aafd1b122d05aae141f97c52257d5799ccc18b4"}